* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    color: #222;
}



header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 8%;
    background-color: #fff;
    border-bottom: 2px solid #d1d1d1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 1.9rem;
    font-weight: 700;
}



.hero {
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 8%;
}

.hero-text {
    max-width: 50%;
}

.hero-text h2 {
    font-size: 2.6rem;
    margin-bottom: 14px;
}

.hero-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 25px;
}

.hero-btn {
    background-color: #ff0000;
    color: white;
    padding: 12px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.hero-btn:hover {
    background-color: #c40000;
}

.hero-img img {
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}



.form-section {
    background: #fff;
    padding: 60px 8%;
    margin-top: 30px;
    border-top: 2px solid #e5e5e5;
}

.form-section h2 {
    margin-bottom: 25px;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

form label {
    margin: 10px 0 5px;
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 6px;
}

form button {
    margin-top: 15px;
    padding: 12px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: #c40000;
}



footer {
    text-align: center;
    padding: 18px;
    margin-top: 40px;
    background-color: #fff;
    border-top: 2px solid #d1d1d1;
}
